<%# メインコンテナ：全体を薄いクリーム色にして和の質感を出す %>
<div class="min-h-screen">
    <div class="cover">
        <%# アイコン画像 %>
        <div class="flex justify-center pt-16">
            <% if @user.avatar.attached? %>
            <%= cl_image_tag(@user.avatar.key, crop: :fill, radius: :max, class: "w-36 h-36 rounded-full" ) %>
            <% else %>
            <%= image_tag "sample/default.jpg", class: "w-36 h-36 rounded-full opacity-50 object-cover" %>
            <% end %>
        </div>

        <%# ユーザー名 %>
        <div class="p-6 text-center font-mincho text-3xl ">
            <%= @user.name %>
        </div>

        <div class="flex font-mincho py-2 w-auto">
            <%= image_tag "sample/home.svg", class: "w-6 h-6" %>
            <p class="">
                お住まい：
            </p>
            <% if @user.prefecture.present? %>
                <%= @user.prefecture %>
            <% else %>
                <p>プロフィール編集からお住まいを更新してください</p>
            <% end %>
        </div>

        <%# 編集 %>
        <div class="box w-40 p-2 text-center rounded-3xl">
            <%= link_to "プロフィール編集", edit_profile_path, class: "btn" %>
        </div>

        <%# 診断スコア %>
        <div class="kamon-rule mb-8"><span class="font-mincho text-xs tracking-[0.3em]">あなたの診断スコア</span></div>
        <div class="box p-4">
            <% if @diagnosis %>
                <%= render "shared/diagnosis_score", diagnosis: @diagnosis %>
            <% else %>
            <div class="text-center">
                <p >相性診断後に自身のスコアが表示されます</p>
            </div>
            <% end %>
        </div>
        <%# 随時追加予定 %>
        <div class="">
            <p>機能は随時追加予定</p>
        </div>
    </div>

</div>
