<footer id="footer">
  <div class="footer-content">
    <div class="footer-links">
      <div class="link-group">
        <%= <%= link_to '利用規約', "#", class: 'link' %>%>
        <%= <%= link_to 'プライバシーポリシー', "#", class: 'link' %>%>
        <%= <%= link_to 'お問い合わせ', "#", class: 'link' %>%>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; <%= Time.current.year %> やまッチ. All rights reserved.</p>
  </div>
</footer>
