<header id="header" data-controller="header" class="<%= current_page?(root_path) ? 'is-top' : '' %>">
    <%= link_to (user_signed_in? ? profile_path(current_user) : root_path), class: "logo" do %>
    <span class="text-xl font-mincho font-black">
        やま<em class="text-primary-300">ッチ</em>
    </span>
    <% end %>

    <% if user_signed_in? %>
    <button class="md:hidden" data-action="click->header#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-7 hamburger">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>
        <%# 閉じる %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="hidden size-7 close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
    <% end %>

    <% if user_signed_in? %>
    <%# ログイン後 %>
    <div class="hidden md:flex flex-col md:flex-row absolute md:static top-full left-0 nav-links justify-between md:items-center gap-3 w-full md:w-auto"
        data-header-target="menu">
        <%= render 'shared/sub_nav'%>

        <%= link_to "ログアウト",
                destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "md:border md:border-primary-20 md:rounded-3xl px-4 md:py-1 md:text-primary-20 font-black hover:text-primary-50 hover:bg-primary-20 transition-all
                block w-full md:w-auto border-3 border-double border-primary-700 bg-primary-30/90 font-mincho px-4 py-4 text-primary-90 md:bg-transparent" %>
    </div>
    <% else %>
    <%# ログイン前 %>
    <div class=" md:flex flex-col md:flex-row md:static nav-links justify-between md:items-center gap-3 md:w-auto">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        <%= link_to "相性診断をする", new_diagnosis_path, class: "nav-cta font-blok rounded-3xl px-4 py-1 transition-transform duration-300 hover:-translate-y-1 hidden md:block" %>
    </div>
    <% end %>
</header>
