<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "やまッチ" %></title>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= content_for(:title) || "やまッチ" %>" />
    <meta property="og:site_name" content="山の診断アプリ" />
    <meta property="og:title" content="<%= content_for(:title) || "山の診断アプリ" %>" />
    <meta property="og:description" content="<%= content_for(:description) || "あなたにぴったりの山を3つおすすめする診断アプリです。" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('sample/OGP_main.png') %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
    <%= render 'shared/header' %>

    <main class="pt-16 bg-primary-30">
        <% flash.each do |key, message| %>
        <% bg_color = (key == "notice" ? "bg-green-100 text-green-700 border-green-300" : "bg-red-100 text-red-700 border-red-300") %>
        <div id="flash-<%= key %>"
            class="container mx-auto px-4 py-3 border rounded-lg my-2 font-bold flex justify-between items-center <%= bg_color %>">
            <span class="flex-1 text-center"><%= message %></span>
            <button type="button" class="ml-4 text-xl font-bold opacity-50 hover:opacity-100"
                onclick="this.closest('.container').remove()">
                &times;
            </button>
        </div>
        <% end %>

        <%= yield %>
    </main>
    <%= render 'shared/footer' %>
</body>

</html>
